<div class="container page-content">
  <h1>Editar Perfil</h1>
  <hr>
  <div class="row">
    <!-- edit form column -->
    <div class="col-md-12 personal-info">
      <form class="form-horizontal" #formProfile="ngForm" (ngSubmit)="saveChanges()">
        <div class="form-group">
          <label class="col-lg-3 control-label">Nombre:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Apellido:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" name="apellido" #apellido="ngModel" [(ngModel)]="user.apellido" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Telefono:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" name="telefono" #telefono="ngModel" [(ngModel)]="user.telefono" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Correo:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" name="correo" #correo="ngModel" [(ngModel)]="user.correo" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Contraseña:</label>
          <div class="col-md-8">
            <input class="form-control" type="password" name="newPassword" #newPassword="ngModel" [(ngModel)]="password.newPassword">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <button type="submit" class="btn btn-primary" [disabled]="!formProfile.form.valid">Guardar cambios</button>
            <span></span>
            <a class="btn btn-default" [routerLink]="['/dashboard/home']">Cancelar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
