<!-- Begin page content-->
<div class="row page-content">
    <div class="col-md-12">
        <app-header></app-header>
        <div class="row">
            <div class="col-md-3">
                <div class="contact-box center-version">
                    <a href="#"><img class="img-circle" alt="image" src="../../../../assets/images/guy-2.png">
                        <h3 class="m-b-xs"><strong>Davos Seaworth</strong></h3>
                        <div class="font-bold">Diseñador Gráfico</div>
                    </a>
                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group"><a class="btn btn-xs btn-default" href="#"><i class="glyphicon glyphicon-envelope"> </i> Enviar mensaje</a><a class="btn btn-xs btn-default"><i class="glyphicon glyphicon-user"> </i> Seguir</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact-box center-version">
                    <a href="#"><img class="img-circle" alt="image" src="../../../../assets/images/guy-2.png">
                        <h3 class="m-b-xs"><strong>Davos Seaworth</strong></h3>
                        <div class="font-bold">Diseñador Gráfico</div>
                    </a>
                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group"><a class="btn btn-xs btn-default" href="#"><i class="glyphicon glyphicon-envelope"> </i> Enviar mensaje</a><a class="btn btn-xs btn-default"><i class="glyphicon glyphicon-user"> </i> Seguir</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>